<h1 class="page-header">添加书籍类别</h1>
<div class="row">
    <form class="form-horizontal" role="form" name="addTypeForm" ng-submit="addType(addTypeForm.$valid,$event)">
        <div class="form-group">
            <label class="col-md-2 control-label">
                新的类别：
            </label>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="请输入类别名……" ng-model="typeName" id="typeName" name="typeName" required autofocus="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input class="btn btn-primary" type="submit" value="添加">
                <input class="btn btn-default" type="reset">
            </div>
        </div>
    </form>
</div>
