<!doctype html>
<html ng-app="booksManagementSystemApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="这是一个小型的图书管理系统">
    <title>图书管理系统-bookManagementSystem</title>
    <!-- 引入库样式 -->
    <link rel="stylesheet" href="/lib/bootstrap-3.3.6/css/bootstrap.css" />
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="/static/styles/main.css">
    <!-- 引入库文件 -->
    <script src="/lib/jquery-1.9.1.js"></script>
    <script src="/lib/angular-1.3.0.14/angular.js"></script>
    <script src="/lib/bootstrap-3.3.6/js/bootstrap.js"></script>
    <script src="/lib/angular-ui-router.js"></script>
    <!-- 引入app.js和一些文件 -->
    <script src="/static/scripts/app.js"></script>
    <script src="/static/scripts/controllers/login.js"></script>
</head>

<body>
    <!-- 这里设置路由入口ui-view，然后在app.js里面设置详细路由 -->
    <div ui-view></div>
</body>

</html>
