<div class="login">
    <div class="container">
        <form role="form" class="form-signin" name="loginForm" ng-submit="submitForm(loginForm.$valid,$event)">
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="form-group has-feedback">
                <label for="inputUsername" class="sr-only">请输入账号</label>
                <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="请输入账号" required autofocus="" ng-model="userName">
                <span class="glyphicon glyphicon-ok form-control-feedback top-4px" ng-show="loginForm.inputUsername.$dirty && loginForm.inputUsername.$valid"></span>
            </div>
            <div class="form-group has-feedback">
                <label for="inputPassword" class="sr-only">请输入密码</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="请输入密码" required ng-model="password">
                <span class="glyphicon glyphicon-ok form-control-feedback top-4px" ng-show="loginForm.inputPassword.$dirty && loginForm.inputPassword.$valid"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">记住我
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
        </form>
    </div>
</div>
<div ui-view="footer"></div>
