<h1 class="page-header">更换密码</h1>
<div class="row">
    <form class="form-horizontal" role="form" name="adminForm" ng-submit="manageAccount(adminForm.$valid,$event)">
        <div class="form-group">
            <label class="col-md-2 control-label">
                账号：
            </label>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="请输入管理员账号……" ng-model="uName" id="uName" name="uName" required autofocus="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                旧的密码：
            </label>
            <div class="col-md-5">
                <input type="password" class="form-control" placeholder="请输入旧密码……" ng-model="pswOld" id="pswOld" name="pswOld" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                新的密码：
            </label>
            <div class="col-md-5">
                <input type="password" class="form-control" placeholder="请输入密码……" ng-model="psw" id="psw" name="psw" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                确认密码：
            </label>
            <div class="col-md-5">
                <input type="password" class="form-control" placeholder="请再输入密码……" ng-model="pswAgain" id="pswAgain" name="pswAgain" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input class="btn btn-primary" type="submit" value="确定">
                <input class="btn btn-default" type="reset">
            </div>
        </div>
    </form>
</div>